# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/front_end/node_modules
/front_end/.pnp
/front_end.pnp.*
/front_end.yarn/*
!.front_end/yarn/patches
!.front_end/yarn/plugins
!.front_end/yarn/releases
!.front_end/yarn/versions

# testing
/front_end/coverage

# next.js
/front_end/.next/
/front_end/out/

# production
/front_end/build

# misc
/front_end.DS_Store
/front_end*.pem

# debug
/front_endnpm-debug.log*
/front_endyarn-debug.log*
/front_endyarn-error.log*
/front_end.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.front_end.env*

# vercel
/front_end.vercel

# typescript
/front_end*.tsbuildinfo
/front_endnext-env.d.ts







.DS_Store

# General
/back_end/HELP.md
/back_end/.gradle
/back_end/build/
!back_end/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
/back_end/.apt_generated
/back_end/.classpath
/back_end/.factorypath
/back_end/.project
/back_end/.settings
/back_end/.springBeans
/back_end/.sts4-cache
/back_end/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
/back_end/.idea
/back_end/*.iws
/back_end/*.iml
/back_end/*.ipr
/back_end/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/back_end/nbproject/private/
/back_end/nbbuild/
/back_end/dist/
/back_end/nbdist/
/back_end/.nb-gradle/

### VS Code ###
/back_end/.vscode/
